*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#droganddragConteiner{
    margin-left: 19px;
    margin-right: 16px;  
}

#conteiner-drog{
margin-top: 13px;
margin-bottom: 10px;
height: 49px;
background: #F4F4F4 0% 0% no-repeat padding-box;
border: 1px dashed #0E4A7D;
opacity: 1;
}