*{
    padding: 0px;
    margin: 0px;
}

.bodyViewMotion{
    padding-top: 60px;
    padding-left: 127px;
    padding-right: 49px;
    padding-bottom: auto;
}
.headreceipMotion{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font: normal normal bold 16px/19px Montserrat;
    color: #0E4A7D;
    line-height: 44px;
    opacity: 1;
}

.headInformation{
    line-height: 42px;
    padding-left: 22px;
    color: #0E4A7D;
    height: 42px;
    background: #E5E6E9 0% 0% no-repeat padding-box;
    opacity: 1;
}

#imagen1{
    margin-top: 2px;
    width: 88px;
    height: 88px;
    margin-right: 7px;
}

.headInformationlabel{
    padding-left: 20px;
    padding-right: 15px;
    width: 100%;
    height: 92px;
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #F6F7F9 100%) 0% 0% no-repeat padding-box;
}  

.buttonreturn{
    width: 109px;
    height: 39px;
    background: transparent linear-gradient(180deg, #0575BF 0%, #0D4C81 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    color: #FFFFFF;
    border-radius: 2px;
    opacity: 1;
}

.buttonprint{
    margin-right: 19px;
    width: 143px;
    height: 39px;
    color: #3774AF;
    left: 5px;
    background: transparent linear-gradient(180deg, #D4D8DA 0%, #EAF3FB 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ECEDEF;
    opacity: 1;
}
.tableviewReceipt{
    
    padding-top: 7px;
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #F6F7F9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    opacity: 1;
}

#tablehead{
    background-color: black;
    width: 100%;
}

.titlehead{
    text-align: left;
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #0E4A7D;
    opacity: 1;
}

.inputReceipt{
    margin-left: 15px;
    margin-right: 14px;
    width: 172px;
    height: 28px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    border: 0.5px solid #DEDEDE;
    opacity: 1;
}

#conteinerTableReceipt{
   margin-left: 20px;
   margin-right: 20px;
}

#titlelabel1{
    width: 165px;
}

#labeltitle1{
    width: 86px;
    height: 15px;
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
    margin-right: 10px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
}

#resulselect{
  margin-top: 24px;
  margin-bottom: 24px;
  color:#0575BF;
}

#resulselecttwo{
    margin-top: 24px;
    margin-bottom: 24px;
    color: #0575BF;
}

.imagen{
    line-height: 92px;
    width: 95px;
    height: 37px;
}
#totales{
    margin-bottom: 42px;
    margin-right: 20px;
    margin-left: 677px;
    margin-top: 42px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 0.5px solid #5B4D42;
    opacity: 1;
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
}
#totalResult{
    height: 37px;
    width: 162px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
    }
#debitoResult{
    height: 37px;
    width: 164px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
}
#creditoResult{
    height: 37px;
    width: 163px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
}

#conteinerButton{
    margin-right: 3px;
}

@media print{
  
  #conteinerButton{
      display: none;
  }

  #breadcrmb{
    display: none;
  }

  
}
