#breadcrmb{
    width: 100%;
    height: 40px;
    text-align: left;
    opacity: 1;
    font: normal normal medium 16px/19px Montserrat;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    display: inline-flex;
    justify-content: space-between;
}

#breadcrumb{
    margin-left: 90px;
    line-height: 40px;
}

#buttonreturn{
    margin-top: 6px;
    margin-right: 49px;
    width: 100px;
    height: 28px;
    text-align: center;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #3774AF;
    background: transparent linear-gradient(180deg, #D4D8DA 0%, #EAF3FB 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ECEDEF;
    opacity: 1;
}

#buttonimport{
    margin-top: 7px;
    height: 32px;
    width: 80px;
    margin-left: 247px;
    background: transparent linear-gradient(180deg, #0575BF 0%, #0D4C81 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    border-radius: 2px;
    font: normal normal medium 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#buttonquestion{
    justify-content: end;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 1px;
    font-size: 10px;
    width: 14px;
    border-radius: 10px 10px 10px;
    background: #EAF3FB 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    opacity: 1;
}

#tablebody{
    padding-left: 127px;
    *background-color: #E9E9E9;
}

.title{
    top: 158px;
    left: 300px;
    width: 397px;
    height: 30px;
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #0E4A7D;
    opacity: 1;
}

#globalconteinerhead{
    display: inline-flex;
    margin-bottom: 15px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
}


.container-sm{
    top: 212px;
    left: 127px;
    width: 830px;
    height: 126px;
    margin-right: 15px;
    font: normal normal medium 16px/19px Montserrat;
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #F6F7F9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    opacity: 1;
}

#ContenedorTabla{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 49px;
    left: 127px;
    width: 1194px;
    height: auto;
    font: normal normal medium 16px/19px Montserrat;
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #F6F7F9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    opacity: 1;
}

#tableHeader{
    background-color: transparent linear-gradient(180deg, #066CB0 0%, #0A528B 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    opacity: 1;
}

#ContenedorArchivoCarga{
    width: 349px;
    height: 126px;
    font: normal normal medium 16px/19px Montserrat;
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #F6F7F9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    opacity: 1;

}

#inputtext{
    width: 805px;
    height: 64px;
    font: normal normal 600 14px/18px Montserrat;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
}

body{
    background: #E9E9E9 0% 0% no-repeat padding-box;
}

#label1{
    text-align: left;
    margin-top: 17px;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.73;
    margin-right: 6px;
    margin-left: 6px;
}

#SelecComp{
    margin-top: 12px;
    width: 237px;
    height: 28px;
    font: normal normal medium 16px/19px Montserrat;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    border: 0.5px solid #DEDEDE;
    opacity: 1;
    font-size: 11px;
    
}

#conteinerHead{
    display: inline-flex;
    margin-bottom: 5px;
}
#contenedorarchivo{
    display: inline-flex;
    justify-content: flex-end;
    font: normal normal medium 16px/19px Montserrat;
}

#tablebutton{
margin-top: 22px;
margin-left: 200px;
width: 100%;
color: #0575BF;
display: inline-flex;
font: normal normal medium 16px/19px Montserrat;
}

#tablebutton{
    margin-left: 770px;
    width: 100px;
}

#tablebuttontwo{
    width: 116px;
    height: 39px;
}

#ButtonAceptar{
    
    width: 115px;
    height: 39px;
    margin-left: 2px;
    text-align: center;
    font: normal normal medium 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent linear-gradient(180deg, #0575BF 0%, #0D4C81 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    border-radius: 2px;
    opacity: 1;
}

#ButtonAgregar{
    margin-left: 1054px;
    width: 116px;
    height: 39px;
    margin-top: 21px;
    font: normal normal medium 16px/19px Montserrat;
    background: transparent linear-gradient(180deg, #D4D8DA 0%, #EAF3FB 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ECEDEF;
    opacity: 1;
    letter-spacing: 0px;
    color: #3774AF;
}

#selectitems{
    width: 139px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.28;
}

#selectitemstwo{
    width: 79px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.28;
}

#selectitemstree{
    width: 339px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.28;
}
#selectitemsref{
    width: 140px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.28;

}

#select{
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.28; 
}
#selectitemsfour{
    width: 100px;
}

#drag-area{
    margin-left: 10px;
    margin-right: 11px;
    margin-top: 12px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    border: 1px dashed #0E4A7D;
    opacity: 1;
}

#textcargue{
    text-align: center;
    font: normal normal 600 14px/18px Montserrat;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
}

#table{

    display: inline-flex;
}

#iconbuttonreturn{
    font-size: 12px;
    margin-right: 2px;
}

#iconbutabletrash{
    margin-left: 6px;
    height: 20px;
    color: #A7A9AA;
    opacity: 1;
}
#iconfile{
    margin-top: 16px;
    width: 20px;
    height: 25px;
    color: #3774AF;
}

#buttonselectoption{
    width: 116px;
    height: 39px;
    background: transparent linear-gradient(180deg, #D4D8DA 0%, #EAF3FB 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ECEDEF;
    opacity: 1;
}

#iconbuttonplus{

   transform: rotate(45deg);
   height: 10px;
   font: normal normal medium 16px/19px Montserrat;
   letter-spacing: 0px;
   color: #3774AF;
}

#tableTop1{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 138px;
}

#tableTop2{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 139px;
}

#tableTop3{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 339px;
}

#tableTop4{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 140px;
}

#tableTop5{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 79px;
}

#tableTop6{
    border: 1px solid #DDDDDD;
    height: 47px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 1;
    width: 116px;
}

#resulselect{
    margin-left: 816px;
    width: 79px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 0.5px solid #5B4D42;
    opacity: 1;
}

#resulselecttwo{
    width: 79px;
    height: 39px;
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border: 0.5px solid #5B4D42;
    opacity: 1;
}

#footerView{
    margin-top: 21px;
}

#progressAndButton{
    display: inline-flex;
}

.progress{
    margin-top: 15px;
    margin-left: 10px;
    width: 70%;
    background-color: #0D538E;
}

#deleteFile{
    margin-top: 16px;
    margin-left: 7px;
    font-size: 14px;
    width: 30px;
    border-radius: 16px 16px 16px;
    background: #EAF3FB 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    opacity: 1;

}