.Modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.Modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    width: 654px;
    height: 449px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 6px;
    opacity: 1;
}

.headModal{
    opacity: 1;
    font: normal normal medium 16px/19px Montserrat;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    height: 50px;
    
}

.labelHeadModal{
    font: normal normal medium 16px/19px Montserrat;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.bodyModal{
   margin-top: 33px;
   margin-left: 33px;
   margin-right: 33px;
}

.ModalListOne{
    margin-top: 44px;
    text-align: left;
    font: normal normal normal 13px/27px Montserrat;
    letter-spacing: 0px;
    color: #8391A2;
    list-style: circle;
}

.ModalListtwo{
    text-align: left;
    font: normal normal normal 13px/27px Montserrat;
    letter-spacing: 0px;
    color: #8391A2;
    list-style: circle;  
}

.ModalListtree{
    text-align: left;
    margin-left: 19px;
    font: normal normal normal 13px/27px Montserrat;
    letter-spacing: 0px;
    color: #8391A2;
    list-style: circle;  
}

.headtableModal{
    background: transparent linear-gradient(180deg, #066CB0 0%, #0A528B 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    opacity: 1;
    height: 33px;
    text-align: center;
}
.footertableModal{
    height: 42px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    opacity: 1;
}

.titlestable{
    width: 100px;
    text-align: center;
    font: normal normal medium 12px/15px Montserrat;
    color: #FFFFFF;
    opacity: 1;
}

.titleMoviCont{
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #0E4A7D;
    opacity: 1;
}

.bodytableModal{
   margin-top: 37px;
   margin-left: 50px;
   margin-right: 33px;

}

.modal-close{
    margin-top: 51px;
    margin-left: 383px;
    width: 109px;
    height: 31px;
    background: transparent linear-gradient(180deg, #D4D8DA 0%, #A7A9AA 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #A7A9AA;
    color: #FFFFFF;
    border-radius: 2px;
    opacity: 1;
 }
.modal-accept{
    margin-left: 18px;
    width: 109px;
    height: 31px;
    font: normal normal medium 13px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: transparent linear-gradient(180deg, #0575BF 0%, #0D4C81 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #0D538E;
    border-radius: 2px;
    opacity: 1;
}

.strong{
    text-align: left;
    font: normal normal bold 13px/27px Montserrat;
    letter-spacing: 0px;
    color: #0E4A7D;
}